#!/usr/bin/env ruby

#
# сompilation #################################################################
#

# частичные шаблоны обозначаются подчеркиванием 
compile '/assets/styles/_*/' do   
   # не обрабатывать и не выкладывать
end
 
compile '/assets/styles/*/' do
   #filter :sass, Compass.sass_engine_options
   #filter :relativize_paths, :type => :css
   filter :rainpress
end

compile '/sitemap/' do
   filter :erb
end

compile '*' do
   if item.binary?
      # бинарные файлы не трогаем
   else
      filter :erb
       
      # определение по расширению    
      case item[:extension]

         #
         when 'haml'
            filter :haml
            
         #
         when 'md', 'markdown' then
            case item[:markdown]
               when 'advanced' then
                  filter :kramdown, :auto_ids => false
               when 'basic' then
                  filter :bluecloth
            end
      end
 
      layout (item[:layout] ? item[:layout].to_s : 'default')
  end
end

#
# routing #####################################################################
#

route '/assets/styles/*/' do
   item.identifier[14..-2] + '.css'
end

route '/sitemap/' do
   '/sitemap.xml'
end

route '*' do
   if item.binary?    
      # бинарные файлы должны иметь нормальный необрезанный путь
      item.identifier.chop + '.' + item[:extension]
   else
      # каждый файл в отдельную директорию
      rep.item.identifier + 'index.html'
   end
end

#
# layouting ###################################################################
#

layout '*', :haml, :format => :html5, :ugly => true
