#!/usr/bin/env ruby

require 'compass'

Compass.add_project_configuration('config.rb')

#
# сompilation #################################################################
#

# частичные шаблоны обозначаются подчеркиванием 
compile '/assets/css/_*/' do   
   # не обрабатывать и не выкладывать
end
 
compile '/assets/css/*/' do
   filter :sass, Compass.sass_engine_options
end

compile '/assets/js/*/' do
   # не обрабатывать
end

compile '/sitemap/' do
   filter :erb
end

# файл подтверждения прав для поисховых систем
compile '/yandex_*/' do
   # не обрабатывать
end

compile '/google*/' do
   # не обрабатывать
end

#
compile '*' do
   if item.binary?
      # бинарные файлы не трогаем
   else
      filter :erb
       
      # определение по расширению    
      case item[:extension]

         #
         when 'haml'
            filter :haml
            
         #
         when 'md', 'markdown' then
            filter :kramdown, :auto_ids => false
      end
 
      layout (item[:layout] ? item[:layout].to_s : 'default')
  end
end

#
# routing #####################################################################
#

route '/assets/css/_*/' do   
   nil
end

route '/assets/css/*/' do
   item.identifier[11..-2] + '.css'
end

route '/assets/js/*/' do
   item.identifier.chop + '.' + item[:extension]
end

route '/sitemap/' do
   '/sitemap.xml'
end

route '/yandex_*/' do
   item.identifier.chop + '.' + item[:extension]
end

route '/google*/' do
   item.identifier.chop + '.' + item[:extension]
end

route '*' do
   if item.binary?    
      # бинарные файлы должны иметь нормальный необрезанный путь
      item.identifier.chop + '.' + item[:extension]
   else
      # каждый файл в отдельную директорию
      rep.item.identifier + 'index.html'
   end
end

#
# layouting ###################################################################
#

layout '*', :haml, :format => :html5, :ugly => true

