/* стандартные элементы */

html {
   background: #fff;
   color: #4c4c4c;
   height: 100%;
   margin: 0;
   padding: 0;
   width: 100%;
}

body {
   font-family: Georgia, serif;
   font-size: 100.01%;
   line-height: 1.4;
   margin: 0;
   min-width: 900px;
   padding: 1em 0 0 0;
}

a, a:link {
	color: #05c;
}

a:hover {
   color: #f00;
   text-decoration: none;	
}

a:visited {
   color: #909;
}

a:visited:hover {
   color: #c00;
}

a:focus {
   outline: none;
}

blockquote {
	background: #075698;
	color: #fff;
	margin: 1em 0 1.5em 5em;
   padding: 1px 15px;
	position: relative;
   /* CSS3 */
   border-radius: 10px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background: -moz-linear-gradient(#2e88c4, #075698);
	background: -o-linear-gradient(#2e88c4, #075698);
	background: linear-gradient(#2e88c4, #075698);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

blockquote:after {
   border-color: #075698 transparent; 
   border-style: solid;
   border-width: 20px 0 0 20px;
   bottom: -20px; /* value = - border-top-width - border-bottom-width */
   content: "";
   left: 50px; /* controls horizontal position */
   position: absolute;
   /* reduce the damage in FF3.0 */
   display:block; 
   width:0;
}

img {
   border: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
   empty-cells: show;
}

td {
   vertical-align: top;
   position: static;
}

h1, h5 {
   font-size: 260%;
   line-height: 1.2;
   font-weight: normal;
   margin: 0.33em 0 0.6em 0;
}

h2 {
   font-size: 150%;
   font-weight: bold;
   margin: 2.5em 0 1em 0;
}

h3 {
   font-family: 'PT Serif', serif;
   font-size: 120%;
   font-weight: bold;
   margin: 2.5em 0 1em 0;
}

h4 {
   font-size: 100%;
   font-weight: bold;
   margin: 2em 0 1em 0;
}

h5 {
   margin: -0.1em 0 0 0;
}

hr {
   background-color: #999;
   border: 0;
   height: 1px;
   overflow: hidden;
}

/* заглавие шаблона */

header {
   height: 220px;
   padding: 20px 0;
}

header table {
   width: 100%;
}

.stats {
   font-size: 150%;   
}

.stats .num {
   font-weight: bold;
   text-align: right;
}

/* основная часть */

#content {
   margin: 0;
}

#content_container {
   clear: both;
   width: 100%;
}

#search {
   height: 1.9em;
   overflow: hidden;
   margin: 0 1.5em 0 0;
   width: 100%;
}

#search input {
   width: 100%;
}

#new-coin {
   background: #f8f7f7 url("/assets/img/newcoin-bg.png") center top;
   border-top: 2px solid #000;
   border-bottom: 2px solid #000;
   height: 300px;
}

/* навигационная панель */

nav {
   font-family: arial, sans-serif;
   font-size: 85%;
   margin: 4.5em 0 2em 0;
}

nav h2 {
   font-family: Georgia, serif;
}

nav a,
nav span {
   display: block;
   margin: 0 0 0.3em 0;
}

nav a:visited {
   color: #05c;
}

nav a:visited:hover {
   color: #c00;
}

/* список серий */

ul.trumb-series {
   list-style: none;
   margin: 0;
   padding: 0;
}

.trumb-series li {
   float: left;
   margin: 0 2%;
   padding: 0;
   width: 21%;
}

.trumb-series h3 {
   margin: 0.5em 0 0.5em 0;
}

/* таблица серий монет */

.series {
   border-collapse: separate; 
   border-spacing: 3px;
   font-family: arial, sans-serif;
   margin: 20px 0;
   text-align: center;
   width: 100%;
}

.series thead {
   background-color: #ccc;
   color: #fff;
}

.series .year {
   font-weight: bold;
   font-size: 130%;
}

.series td {
   padding: 2px 10px;
}

.series .col1 {
   width: 5%;
}

.series .col2 {
   text-align: left;
   width: 25%;
}

.series .col3 {
   width: 20%;
}

.series .col4 {
   width: 20%;
}

.series .col5 {
   width: 10%;
}

.series .col6 {
   width: 15%;
}

.series .col7 {
   width: 5%;
}

.series .green {
   background-color: #3c3;
}

.series .yellow {
   background-color: #cc3;
}

.series .red {
   background-color: #c33;
}

/* таблица монеты */

.coin {
   font-size: 120%;
   margin: 0;
   width: 100%;
}

.coin .col1 {
   width: 530px;
}

.coin .col2,
.coin .col3 {
   vertical-align: middle;
}

.coin .col2 {
   width: 160px;
}

/* подножие шаблона */

footer {
   background: #f8f7f7 url("/assets/img/footer-bg.png") center top;
   border-top: 1px solid #ccc;
   float: left;
   height: 140px;
   margin-top: 30px;
   padding-top: 13px;
   width: 100%;
}

footer h3 {
   margin: 20px 0 -10px;
}
