%p 
	“All of Hashrocket’s new projects are done in Haml, and we’ve now decided to transition everything else in our portfolio over to Haml as soon as possible. The indentation-based approach works wonders for generating clean, semantic markup and the way that you can see the structure of your markup in a way that easily maps to CSS rules is simply brilliant.” - ‘Are you using Haml?’ - Obie Fernandez

<% @site.sorted_articles[0, 10].each do |article| %>
<%= article[:post_title] %><br/>
<%= article[:created_at] %><br/>
<% end %>

%ul.trumb-series

	%li
		%h3 Города воинской славы

		%a{ :href => "/series/goroda-voinskoj-slavy/" }
			%img{ :src => "/assets/img/goroda-voinskoj-slavy-logo.jpg", :width => "100%" }

		Банк России начал выпуск монет этой серии в 2011 году. Монеты изготовлены из стали с латунным гальваническим покрытием.

	%li
		%h3 Российская Федерация

		%img{ :src => "/assets/img/rossijskaja-federacija-logo.jpg", :width => "100%" }

		Банк России начал выпуск монет этой серии в 2011 году. Монеты изготовлены из стали с латунным гальваническим покрытием.

	%li
		%h3 200-летие министерств

		%img{ :src => "/assets/img/200letie-obrazovanija-ministerstv-logo.jpg", :width => "100%" }

		Банк России начал выпуск монет этой серии в 2011 году. Монеты изготовлены из стали с латунным гальваническим покрытием.

	%li
		%h3 Древние города России

		%img{ :src => "/assets/img/goroda-voinskoj-slavy-logo.jpg", :width => "100%" }

		Банк России начал выпуск монет этой серии в 2011 году. Монеты изготовлены из стали с латунным гальваническим покрытием.	
		
	%li
		%h3 Сочи 2014

		%img{ :src => "/assets/img/sochi2014-logo.jpg", :width => "100%" }

		Банк России начал выпуск монет этой серии в 2011 году. Монеты изготовлены из стали с латунным гальваническим покрытием.			            