/* стандартные элементы */

html {
   background: #fff;
   color: #000;
   height: 100%;
   margin: 0;
   padding: 0;
   width: 100%;
}

body {
   font-family: Georgia, serif;
   font-size: 100.01%;
   line-height: 1.4;
   margin: 0;
   min-width: 900px;
   padding: 0;
}

a, a:link {
	color: #05c;
}

a:hover {
   color: #f00;
   text-decoration: none;	
}

a:visited {
   color: #909;
}

a:visited:hover {
   color: #c00;
}

a:focus {
   outline: none;
}

img {
   border: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
   empty-cells: show;
}

td {
   vertical-align: top;
   position: static;
}

h1, h5 {
   font-size: 260%;
   line-height: 1.2;
   font-weight: normal;
   margin: 0.33em 0 0.6em 0;
}

h2 {
   font-size: 130%;
   font-weight: bold;
   margin: 2.5em 0 1em 0;
}

h3 {
   font-size: 100%;
   font-weight: bold;
   margin: 2.5em 0 1em 0;
}

h4 {
   font-size: 100%;
   font-weight: bold;
   margin: 2em 0 1em 0;
}

h5 {
   margin: -0.1em 0 0 0;
}

hr {
   background-color: #999;
   border: 0;
   height: 1px;
   overflow: hidden;
}

/* основная часть */

#body {
   margin: 0 1.5em 0 1.5em;
   padding: 1em 0 0 0;
}

#content_container {
   clear: both;
   width: 100%;
}

#content_container .reducer {
   padding-top: 0.5em;
   margin-right: 2.5em;
}

#logo {
   font-weight: normal;
   font-family: "Arial Black", sans-serif;
   float: left;
   height: 1.6em;
   font-size: 120%;
}

#logo a {
   color: black;
   text-decoration: none;
}

#search {
   height: 1.9em;
   overflow: hidden;
   padding: 0 1em 0 0;
   width: 100%;
}

#search input {
   width: 100%;
}

/* навигационная панель */

#navigation {
   font-family: arial, sans-serif;
   font-size: 85%;
   margin: 4.5em 0 2em 0;
}

#navigation h2 {
   font-family: Georgia, serif;
}

#navigation a,
#navigation span {
   display: block;
   margin: 0 0 0.3em 0;
}

#navigation a:visited {
   color: #05c;
}

#navigation a:visited:hover {
   color: #c00;
}

/* таблица серий монет */

.series {
   font-family: arial, sans-serif;
   margin: 20px 0;
   width: 100%;
}

.series thead {
   background-color: #ccc;
   color: #fff;
}

.series td {
   padding: 2px 10px;
}

.series .year {
   font-weight: bold;
}

.series .col1 {
   width: 5%;
}

.series .col2 {
   width: 25%;
}

.series .col3 {
   width: 20%;
}

.series .col4 {
   width: 20%;
}

.series .col5 {
   width: 10%;
}

.series .col6 {
   width: 15%;
}

.series .col7 {
   width: 5%;
}

.series .green {
   background-color: #3c3;
}

.series .yellow {
   background-color: #cc3;
}

.series .red {
   background-color: #c33;
}

/* подножие шаблона */

#footer {
   background: #f8f7f7 url("img/footer-bg.png") center top;
   border-top: 1px solid #ccc;
   float: left;
   height: 140px;
   padding-top: 13px;
   width: 100%;
}

