/
    %p 
        В&nbsp;2011 году Банк России начал выпуск монет серии &laquo;__Города воинской славы__&raquo;. Город воинской славы&nbsp;--- почётное звание Российской Федерации, установленное федеральным законом от&nbsp;9&nbsp;мая 2006 года &#8470;&nbsp;[68-ФЗ](http://document.kremlin.ru/doc.asp? ID=033628). На&nbsp;сегодняшний день этим званием обладают 37 городов. Судя по&nbsp;плану Банка, опубликованному на&nbsp;сайте, в&nbsp;каждом году планируется выпуск 8&nbsp;монет данной программы. С&nbsp;учётом этого программа продлится минимум до&nbsp;2016 года. Однако, если обратить внимание на&nbsp;даты указов президента, то&nbsp;можно заметить, что ежегодно этот список пополняется 5&ndash;6 новыми городами.
/
    %p
        Удорожание металла привело к&nbsp;тому, что себестоимость чеканки памятных биметаллических монет стала выше номинала монеты. Учитывая это, а&nbsp;также исходя из&nbsp;отказа от&nbsp;<nobr>10-рублёвых</nobr> купюр, с&nbsp;целью извлечения дохода от&nbsp;эмиссионной деятельности, Центробанком было принято решение о&nbsp;введении монет из&nbsp;стали с&nbsp;латунным покрытием. Эти монеты хоть и&nbsp;дешевле, зато теряют свой товарный вид значительно быстрее, что приводит к&nbsp;необходимости покупать их&nbsp;&laquo;из&nbsp;мешка&raquo;.

.table-series

    .col

        %h3{ :id=> "2012" } 2012

        %table
            %thead
                %tr
                    %th.col1 №
                    %th Город
                    %th.col5 МД
            %tbody
                %tr
                    %td 9
                    %td.col2<
                        %a{ :href => "voronezh/" } Воронеж
                    %td.green СП
                %tr
                    %td 10
                    %td.col2<
                        %a{ :href => "luga/" } Луга
                    %td.green СП
                %tr
                    %td 11
                    %td.col2<
                        %a{ :href => "poljarnyj/" } Полярный
                    %td.red СП
                %tr
                    %td 12
                    %td.col2<
                        %a{ :href => "rostov-na-donu/" } Ростов-на-Дону
                    %td.red СП
                %tr
                    %td 13
                    %td.col2<
                        %a{ :href => "tuapse/" } Туапсе
                    %td.red СП
                %tr
                    %td 14
                    %td.col2<
                        %a{ :href => "velikie-luki/" } Великие Луки
                    %td.red СП
                %tr
                    %td 15
                    %td.col2<
                        %a{ :href => "velikij-novgorod/" } Великий Новгород
                    %td.red СП
                %tr
                    %td 16
                    %td.col2<
                        %a{ :href => "dmitrov/" } Дмитров
                    %td.red СП

