%footer

   #foot-info
      .wrap

         #about
            %h3 О сайте

            Небольшой сайт заметок о монетах, которые вы с легкостью можете собирать вместе со мной.

         #social
            %h3 Подписка

            Вы сэкономите себе время, если подпишетесь на обновления через популярные сервисы.

            %p
               %a{ :href => "#", :class => "rss-count" } RSS
               %a{ :href => "#", :class => "twitter-count" } Twitter

         #counting
            %img{ :src => "/assets/img/bucket.png", :alt => "Логотип сайта", :width => "150", :height => "150" }
            %br
            счетчики

   #legal
      .wrap
      
         %p &copy;&nbsp;2011 Roger&nbsp;Wood