%header
   %table
      %tr
         %td{ :width => "8%" }

         %td{ :width => "44%" }
            %a{ :href => "/" }
               %img{ :src => "/assets/img/logo.png", :height => "200", :width => "179" }

         %td{ :width => "20%" }
            В коллекции

            %table.stats
               %tr
                  %td.num= series.size
                  %td= tail_series
               %tr
                  %td.num= coins.size
                  %td= tail_coins

         %td{ :width => "20%" }
            #search
               %form{ :action => "/search/", :method => "get" }
                  %input{ :type => "search", :autocomplete => "off", :placeholder => "Поиск", :name => "query", :value => "" }

         %td{ :width => "8%" }
