<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	
<head> 
   <meta charset="utf-8">
   <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
   <title><%= @item[:title] %> | Монетки Роджера</title>
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
   <link rel="stylesheet" type="text/css" href="/style.css" media="screen"> 
</head> 
	
<body> 
<div id="body"> 
                
<table width="100%" style="position: relative" border="1"> 

<tr> 
   <td width="8%" rowspan="3" />
   <td width="69%"> 
      <div id="logo">Editorium.ru</div> 
   </td> 
   <td width="23%" colspan="2"> 
      <div id="search"> 
         <div class="reducer"> 
            <form action="/search/" method="get"> 
               <input type="search" autocomplete="off" placeholder="Поиск" name="query" value="" /> 
            </form> 
         </div> 
      </div> 
   </td> 
</tr> 

<tr>
   <td> 
      <div id="content_container"> 
         <div class="reducer"><%= yield %></div> 
      </div> 
   </td> 
   <td colspan="2"> 
      <div id="navigation"> 
         <div class="reducer">
         
            <%= 
               link_to_unless_current(
                  'Главная', 
                  '/', 
                  :class => 'nav_link'
               ) 
            %>
            
            <%= 
               link_to_unless_current(
                  'Города воинской славы', 
                  '/series/goroda-voinskoj-slavy/', 
                  :class => 'nav_link'
               ) 
            %>
            
            <%= 
               link_to_unless_current(
                  '200-летие образования министерств', 
                  '/series/200letie-obrazovanija-ministerstv/', 
                  :class => 'nav_link'
               )
            %>
            
            <%= 
               link_to_unless_current(
                  'Российская Федерация', 
                  '/series/rossijskaja-federacija/', 
                  :class => 'nav_link'
               )
            %>
                        
         </div> 
      </div> 
   </td> 
</tr> 

<tr>
   <td width="74%" colspan="2"><%= render 'footer' %></td> 
   <td width="8%" />
</tr>
</table>
                
</div>
</body> 
</html>
