<table id="footer">
<tr> 

   <td width="8%" />
   
   <td width="69%"> 
      <p>
         Все комментарии, советы, предложения и&nbsp;правки присылайте по&nbsp;адресу:
         <a href="mailto:glavred@editorium.ru">glavred@editorium.ru</a>
      </p> 
     
      <h2>Хотите увидеть другие коллекции?</h2>
      <p>У меня есть еще коллекция больших монет, так называемых "шайб".</p>
   </td> 
   
   <td width="23%" class="copyright_rogerwood"> 
      <p>&copy;&nbsp;2011 Roger&nbsp;Wood</p>
   </td>
   
</tr> 
</table>
