%table#footer
   %tr
      %td{ :width => "8%" }
      %td{ :width => "69%" }
      
         %p Все комментарии, советы, предложения и правки присылайте по адресу: %a{ :href => "q" } Почта
            
         %h2 Хотите увидеть другие коллекции?
         
         %p У меня есть еще коллекция больших монет, так называемых "шайб".
         
      %td{ :width => "23%", :class => "copyright_rogerwood" }
      
         %p &copy;&nbsp;2011 Roger&nbsp;Wood
