%p
    Архитектурная панорама города, вверху справа - герб города Ельца, по окружности на кольце - надписи: вверху: "ДРЕВНИЕ ГОРОДА РОССИИ", внизу: "ЕЛЕЦ". На оборотной стороне монеты изображён Вознесенский собор — главный православный храм старинного города. Рядом с собором на монете — пожарная каланча, промышленное здание начала XX века.

Художник: С. В. Сутягин
Скульптор: А. Д. Бессонов