%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2008
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 24
         %td.col2{ :rowspan => "2" } Владимир
         %td{ :rowspan => "2" }<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0051" }<
               5514-0051
         %td 1 февраля
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 25
         %td 1 февраля
         %td СП
         %td 5 млн
         %td.yellow
      %tr
         %td 26
         %td.col2{ :rowspan => "2" } Приозерск
         %td{ :rowspan => "2" }<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0056" }<
               5514-0056
         %td 1 августа
         %td М
         %td 5 млн
         %td.red 
      %tr
         %td 27
         %td 1 августа
         %td СП
         %td 5 млн
         %td.red 
      %tr
         %td 28
         %td.col2{ :rowspan => "2" } Смоленск
         %td{ :rowspan => "2" }<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0057" }<
               5514-0057
         %td 1 ноября
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 29
         %td 1 ноября
         %td СП
         %td 5 млн
         %td.red
      %tr
         %td 30
         %td.col2{ :rowspan => "2" } Азов
         %td{ :rowspan => "2" }<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0058" }<
               5514-0058
         %td 1 ноября
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 31
         %td 1 ноября
         %td СП
         %td 5 млн
         %td.yellow

%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2007
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 18
         %td.col2{ :rowspan => "2" } Вологда
         %td{ :rowspan => "2" }<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0048" }<
               5514-0048
         %td 1 октября
         %td М
         %td 5 млн
         %td.yellow
      %tr
         %td 19
         %td 1 октября
         %td СП
         %td 5 млн
         %td.yellow
      %tr
         %td 20
         %td.col2{ :rowspan => "2" } Великий Устюг
         %td{ :rowspan => "2" }<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0049" }<
               5514-0049
         %td 1 октября
         %td М
         %td 5 млн
         %td.red 
      %tr
         %td 21
         %td 1 октября
         %td СП
         %td 5 млн
         %td.red 
      %tr
         %td 22
         %td.col2{ :rowspan => "2" } Гдов
         %td{ :rowspan => "2" }<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0050" }<
               5514-0050
         %td 1 октября
         %td М
         %td 5 млн
         %td.green
      %tr
         %td 23
         %td 1 октября
         %td СП
         %td 5 млн
         %td.red
         
%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2006
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 15
         %td.col2 Белгород
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0039" }<
               5514-0039
         %td 2 октября
         %td М
         %td 5 млн
         %td.yellow
      %tr
         %td 16
         %td.col2 Торжок
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0040" }<
               5514-0040
         %td 2 октября
         %td СП
         %td 5 млн
         %td.yellow 
      %tr
         %td 17
         %td.col2 Каргополь
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0041" }<
               5514-0041
         %td 2 октября
         %td М
         %td 5 млн
         %td.yellow
         
%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2005
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 11
         %td.col2 Калининград
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0024" }<
               5514-0024
         %td 19 мая
         %td М
         %td 5 млн
         %td.yellow
      %tr
         %td 12
         %td.col2 Казань
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0025" }<
               5514-0025
         %td 19 мая
         %td СП
         %td 5 млн
         %td.yellow
         
      %tr
         %td 13
         %td.col2 Мценск
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0026" }<
               5514-0026
         %td 4 октября
         %td М
         %td 5 млн
         %td.yellow
      %tr
         %td 14
         %td.col2 Боровск
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0027" }<
               5514-0027
         %td 4 октября
         %td СП
         %td 5 млн
         %td.yellow
         
%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2004
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 8
         %td.col2 Дмитров
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0020" }<
               5514-0020
         %td 22 сентября
         %td М
         %td 5 млн
         %td.yellow
      %tr
         %td 9
         %td.col2 Ряжск
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0021" }<
               5514-0021
         %td 22 сентября
         %td М
         %td 5 млн
         %td.red 
      %tr
         %td 10
         %td.col2 Кемь
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0022" }<
               5514-0022
         %td 22 сентября
         %td СП
         %td 5 млн
         %td.yellow
         
%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2003
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 4
         %td.col2 Псков
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0016" }<
               5514-0016
         %td 25 февраля
         %td СП
         %td 5 млн
         %td.red
      %tr
         %td 5
         %td.col2 Муром
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0017" }<
               5514-0017
         %td 6 октября
         %td СП
         %td 5 млн
         %td.yellow
         
      %tr
         %td 6
         %td.col2 Дорогобуж
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0018" }<
               5514-0018
         %td 6 октября
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 7
         %td.col2 Касимов
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0019" }<
               5514-0019
         %td 6 октября
         %td СП
         %td 5 млн
         %td.yellow
         
%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2002
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 1
         %td.col2 Дербент
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0006" }<
               5514-0006
         %td 27 июня
         %td М
         %td 5 млн
         %td.yellow
      %tr
         %td 2
         %td.col2 Кострома
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0007" }<
               5514-0007
         %td 27 июня
         %td СП
         %td 5 млн
         %td.red 
      %tr
         %td 3
         %td.col2 Старая Русса
         %td<
            %a{ :href => "http://cbr.ru/bank-notes_coins/base_of_memorable_coins/coins1.asp?cat_num=5514-0008" }<
               5514-0008
         %td 27 июня
         %td СП
         %td 5 млн
         %td.yellow

