%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2007
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 15
         %td.col2{ :rowspan => "2" } Вологда
         %td
         %td
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 16
         %td
         %td
         %td СП
         %td 5 млн
         %td.red
      %tr
         %td 17
         %td.col2{ :rowspan => "2" } Великий Устюг
         %td
         %td
         %td М
         %td 5 млн
         %td.red 
      %tr
         %td 18
         %td
         %td
         %td СП
         %td 5 млн
         %td.red 
      %tr
         %td 19
         %td.col2{ :rowspan => "2" } Гдов
         %td
         %td
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 20
         %td
         %td
         %td СП
         %td 5 млн
         %td.red
         
%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2006
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 15
         %td.col2 Белгород
         %td
         %td
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 16
         %td.col2 Каргополь
         %td
         %td
         %td М
         %td 5 млн
         %td.red 
      %tr
         %td 17
         %td.col2 Торжок
         %td
         %td
         %td СП
         %td 5 млн
         %td.red
         
%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2005
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 11
         %td.col2 Калининград
         %td
         %td
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 12
         %td.col2 Казань
         %td
         %td
         %td СП
         %td 5 млн
         %td.red
         
      %tr
         %td 13
         %td.col2 Мценск
         %td
         %td
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 14
         %td.col2 Боровск
         %td
         %td
         %td СП
         %td 5 млн
         %td.red
         
%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2004
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 8
         %td.col2 Дмитров
         %td
         %td
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 9
         %td.col2 Ряжск
         %td
         %td
         %td М
         %td 5 млн
         %td.red 
      %tr
         %td 10
         %td.col2 Кемь
         %td
         %td
         %td СП
         %td 5 млн
         %td.red
         
%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2003
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 4
         %td.col2 Псков
         %td
         %td
         %td СП
         %td 5 млн
         %td.red
      %tr
         %td 5
         %td.col2 Муром
         %td
         %td
         %td СП
         %td 5 млн
         %td.red
         
      %tr
         %td 6
         %td.col2 Дорогобуж
         %td
         %td
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 7
         %td.col2 Касимов
         %td
         %td
         %td СП
         %td 5 млн
         %td.red
         
%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2002
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 1
         %td.col2 Дербент
         %td
         %td
         %td М
         %td 5 млн
         %td.red
      %tr
         %td 2
         %td.col2 Кострома
         %td
         %td
         %td СП
         %td 5 млн
         %td.red 
      %tr
         %td 3
         %td.col2 Старая Русса
         %td
         %td
         %td СП
         %td 5 млн
         %td.red

