%p
    Во&nbsp;втором квартале 2002 года ЦБ&nbsp;РФ&nbsp;выпускает монеты нового типа, начав тем самым новую серию &laquo;Древние города России&raquo;. Серия относится к&nbsp;памятным недрагоценным монетам. В&nbsp;основе дизайна объединение двух цветов, которые дают сплавы латуни и&nbsp;мельхиора. Поэтому монета называется биметаллической. Номинал всех монет серии 10&nbsp;рублей, что тоже не&nbsp;обычно, так как на&nbsp;тот момент были отчеканены только две монеты из&nbsp;биметала после 1997 года (в&nbsp;2000&nbsp;г. &mdash;&nbsp;посвящённая <nobr>55-й</nobr> годовщине победы в&nbsp;ВОВ и&nbsp;в&nbsp;2001&nbsp;г. &mdash;&nbsp;посвящённая <nobr>40-летию</nobr> первого полёта человека в&nbsp;космос).

%p
    В&nbsp;основе серии лежат древние города России и&nbsp;бывших её территорий. В&nbsp;год выпускается около 3&ndash;4 видов монет. Некоторые монеты могут выпускаться сразу на&nbsp;двух монетных дворах, их&nbsp;различие в&nbsp;буквенном обозначении (СПМД, ММД). Тираж каждой монеты 5&nbsp;миллионов, что делает их&nbsp;не&nbsp;очень редкими с&nbsp;точки зрения коллекционирования.


= render '_table-series'
