%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2008
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 18
         %td.col2{ :rowspan => "2" } Удмуртская республика
         %td
         %td
         %td М
         %td
         %td.red
      %tr
         %td 19
         %td
         %td
         %td СП
         %td
         %td.red
      %tr
         %td 20
         %td.col2{ :rowspan => "2" } Астраханская область
         %td
         %td
         %td М
         %td
         %td.red
      %tr
         %td 21
         %td
         %td
         %td СП
         %td
         %td.red 
      %tr
         %td 22
         %td.col2{ :rowspan => "2" } Свердловская область
         %td
         %td
         %td М
         %td
         %td.red
      %tr
         %td 23
         %td
         %td
         %td СП
         %td
         %td.red
      %tr
         %td 24
         %td.col2{ :rowspan => "2" } Кабардино-Балкарская республика
         %td
         %td
         %td М
         %td
         %td.red
      %tr
         %td 25
         %td
         %td
         %td СП
         %td
         %td.red

%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2007
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 12
         %td.col2 Республика Башкортостан
         %td
         %td
         %td М
         %td
         %td.red
      %tr
         %td 13
         %td.col2 Ростовская область
         %td
         %td
         %td СП
         %td
         %td.red 
      %tr
         %td 14
         %td.col2 Новосибирская область
         %td
         %td
         %td М
         %td
         %td.red
      %tr
         %td 15
         %td.col2 Республика Хакасия
         %td
         %td
         %td СП
         %td
         %td.red
      %tr
         %td 16
         %td.col2 Архангельская область
         %td
         %td
         %td СП
         %td
         %td.red
      %tr
         %td 17
         %td.col2 Липецкая область
         %td
         %td
         %td М
         %td
         %td.red

%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2006
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 7
         %td.col2 Республика Алтай
         %td
         %td
         %td СП
         %td
         %td.red
      %tr
         %td 8
         %td.col2 Читинская область
         %td
         %td
         %td СП
         %td
         %td.red 
      %tr
         %td 9
         %td.col2 Республика Саха (Якутия)
         %td
         %td
         %td СП
         %td
         %td.red
      %tr
         %td 10
         %td.col2 Сахалинская область
         %td
         %td
         %td М
         %td
         %td.red
      %tr
         %td 11
         %td.col2 Приморский край
         %td
         %td
         %td М
         %td
         %td.red

%table.series
   
   %thead
      %tr
         %th.year{ :colspan => "7" } 2005
      %tr
         %th.col1 №
         %th Город
         %th.col3 Каталожный №
         %th.col4 Дата
         %th.col5 МД
         %th.col6 Тираж
         %th.col7

   %tbody
      %tr
         %td 1
         %td.col2 Ленинградская область
         %td
         %td
         %td СП
         %td
         %td.red
      %tr
         %td 2
         %td.col2 Тверская область
         %td
         %td
         %td М
         %td
         %td.red 
      %tr
         %td 3
         %td.col2 Орловская область
         %td
         %td
         %td М
         %td
         %td.red
      %tr
         %td 4
         %td.col2 Краснодарский край
         %td
         %td
         %td М
         %td
         %td.red
      %tr
         %td 5
         %td.col2 Республика Татарстан
         %td
         %td
         %td СП
         %td
         %td.red
      %tr
         %td 6
         %td.col2 Москва
         %td
         %td
         %td М
         %td
         %td.red

